<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="" class="container_center" method="POST">
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        Email: <br>
        <input type="text" name="email">
        <br>
        Yob: <br>
        <input type="text" name="yob">
        <br>
        Gender: <br>
        <input type="text" name="gender">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>