html, body {
    height: 100%;
}
* {
    font-size: 1.1rem;
}
form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
input {
    border-radius: 4px;
    width: 160% ;
}
button {
    border-radius: 5px;
    background-color: blue;
    color: #ffffff;
}
